{% extends 'base.html' %}
{% block title %}{{todo.title}} - Ne Yapsam ?{% endblock %}

{%block body %}
<style>
    body{
}

.update-nag{
  display: inline-block;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  height: 40px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  margin-bottom: 10px;
}

.update-nag:hover{
    cursor: pointer;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.4);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
}

.update-nag > .update-split{
  background: #337ab7;
  width: 33px;
  float: left;
  color: #fff!important;
  height: 100%;
  text-align: center;
}

.update-nag > .update-split > .glyphicon{
  position:relative;
  top: calc(50% - 9px)!important; /* 50% - 3/4 of icon height */
}
.update-nag > .update-split.update-success{
  background: #5cb85c!important;
}

.update-nag > .update-split.update-danger{
  background: #d9534f!important;
}

.update-nag > .update-split.update-info{
  background: #5bc0de!important;
}



.update-nag > .update-text{
  line-height: 19px;
  padding-top: 11px;
  padding-left: 45px;
  padding-right: 20px;
}
</style>
{% if todo.publish == False %}
        <div class="col-md-12">
          <div class="update-nag">
            <div class="update-split update-danger"><i class="glyphicon glyphicon-warning-sign"></i></div>
            <div class="update-text"> <strong>Uyarı</strong> Bu ToDo Yapılmış! </div>
          </div>
        </div>
{% endif %}
<div class="container col-sm-6 col-md-8">
<div class="panel panel-warning">
    <div class="panel-heading"><a href="{% url 'todo:detail' todo.id %}">{{todo.title}}</a></div>
  <div class="panel-body">

    {{todo.content|safe}}

  </div>
<div class="panel-footer">{{todo.tododate}}
 {% if not todo.done %}
<a href="{% url 'todo:done' todo.id %}"><span class="glyphicon glyphicon-ok"></span></a>
{% else %}
<a href="{% url 'todo:done' todo.id %}"><span class="glyphicon glyphicon-remove"></span></a>
{% endif %}
</div>
</div>
</div>
{% endblock %}