{% extends 'base.html' %}
{% block title %}{{user.username}}{% endblock %}

{%block body %}
<style>

</style>
<div class="container">
    <div class="page-header">
        <h1>Todoların.</h1>
    </div>

{% for todo in posts %}

<div class="panel panel-warning">
    <div class="panel-heading"><a href="{% url 'todo:detail' todo.id %}">{{todo.title}}</a></div>
  <div class="panel-body">
  {% autoescape on %}

    {{todo.content|safe}}
                              {% endautoescape %}   </div>
<div class="panel-footer">{{todo.tododate}}
    {% if not todo.done %}
<a href="{% url 'todo:done' todo.id %}"><span class="glyphicon glyphicon-ok"></span></a>
{% else %}
<a href="{% url 'todo:done' todo.id %}"><span class="glyphicon glyphicon-remove"></span></a>
{% endif %}
</div>
</div>
{% endfor %}
</div>

{% if posts %}
<div class="container">

    <div class="pagination">
      <ul class="pagination">
          {% if posts.has_previous %}
              <li><a href="?page={{ posts.previous_page_number }}">Previous</a></li>
          {% endif %}
          {% for pg in posts.paginator.page_range %}
              {% if posts.number == pg %}
                  <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% else %}
                  <li><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% endif %}
          {% endfor %}
          {% if posts.has_next %}
              <li><a href="?page={{ posts.next_page_number }}">Next</a></li>
          {% endif %}
      </ul>
    </div>
</div>
{% endif %}

{% endblock %}